* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

body {
  background: var(--color-background);
  color: var(--color-txt);
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
